.usersList {
  margin: 10px;
}

.usersListItem {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
  box-shadow: 0 0 5px grey;
  padding: 10px;
}

.userProfilePhoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

button {
  margin-left: auto;
}
